body {
  font-family: Arial, sans-serif;
}

.demo-block {
  background-color: lightgray;
}

.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.gh {
  font-size: 120%;
  color: red;
}

#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

.spacer {
  height: 600px;
}
